@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.blog-content pre::-webkit-scrollbar,
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.blog-content {
  padding-block: 30px;
}

.blog-content h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
}

.blog-content h3 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}

.blog-content p {
  margin-bottom: 10px;
}

.blog-content ul {
  padding-left: 22px;
  list-style: disc;
  margin-bottom: 10px;
}

.blog-content ol {
  list-style: decimal;
  padding-left: 22px;
  margin-bottom: 10px;
}

.blog-content img {
  height: auto;
  margin-bottom: 15px;
}

.blog-content pre {
  overflow: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: #5555551c;
}
